* {
    margin:0;
    box-sizing: border-box;
}
body {
    background-color: rgb(122, 154, 154);
}
a {
    color:rgb(223, 230, 173);
    font-size: 64px;
    position: relative;
    right: -65px;
    text-decoration:none;
}
div {
    background-color: rgb(92, 115, 115);
    width:300px;
    height: 150px;
    border-radius: 10px;
    position: relative;
    top: 350px;
    left: 800px;
    border-right: 4px rgb(57, 71, 71) solid;
    border-bottom: 4px rgb(57, 71, 71) solid;
}
.yellow {
    background-color: rgb(223, 230, 173);
}
.yellA {
    color:rgb(122, 154, 154);
}
.yellDiv {
    background-color: rgb(189, 195, 150);
    border-right: 4px rgb(126, 130, 102) solid;
    border-bottom: 4px rgb(126, 130, 102) solid;
} 