* {
    margin:0;
    box-sizing: border-box;
}
body {
    background-color: rgb(122, 154, 154);
}
h1 {
    color:rgb(223, 230, 173);
    font-size: 64px;
    text-align: center;
}
div {
    background-color: rgb(92, 115, 115);
    width:300px;
    height: 150px;
    border-radius: 10px;
    position: relative;
    top: 350px;
    left: 800px;
    border-right: 4px rgb(57, 71, 71) solid;
    border-bottom: 4px rgb(57, 71, 71) solid;
}
.yellow {
    background-color: rgb(122, 154, 154);
}
.yellH1 {
    color:rgb(223, 230, 173);
}
.yellDiv {
    background-color: rgb(92, 115, 115);
    border-right: 4px rgb(57, 71, 71) solid;
    border-bottom: 4px rgb(57, 71, 71) solid;
} 