* {
    margin:0;
    box-sizing: border-box;
}
body {
    background-color: rgb(122, 154, 154);
}
a {
    color:rgb(223, 230, 173);
    font-size: 64px;
    position: relative;
    right: -65px;
    text-decoration:none;
}
div {
    background-color: rgb(92, 115, 115);
    width:300px;
    height: 150px;
    border-radius: 10px;
    position: relative;
    top: 350px;
    left: 800px;
    border-right: 4px rgb(57, 71, 71) solid;
    border-bottom: 4px rgb(57, 71, 71) solid;
}
.yellow {
    background-color: rgb(223, 230, 173);
}
.yellA {
    color:rgb(215, 79, 79);
}
.yellDiv {
    background-color: rgb(189, 195, 150);
    border-right: 4px rgb(126, 130, 102) solid;
    border-bottom: 4px rgb(126, 130, 102) solid;
}
.red {
    background-color: rgb(215, 79, 79);
}
.redA {
    color:rgb(255, 198, 77);
}
.redDiv {
    background-color: rgb(197, 58, 58);
    border-right: 4px rgb(127, 36, 36) solid;
    border-bottom: 4px rgb(127, 36, 36) solid;
}
.orange {
    background-color: rgb(255, 198, 77);
}
.orangeA {
    color:rgb(186, 255, 177);
}
.orangeDiv {
    background-color: rgb(190, 149, 58);
    border-right: 4px rgb(122, 95, 35) solid;
    border-bottom: 4px rgb(122, 95, 35) solid;
} 
.green {
    background-color: rgb(186, 255, 177);
}
.greenA {
    color:rgb(254, 191, 230);
}
.greenDiv {
    background-color: rgb(146, 199, 139);
    border-right: 4px rgb(102, 136, 97) solid;
    border-bottom: 4px rgb(102, 136, 97) solid;
} 